<div style="display: flex;flex-wrap: wrap; padding: 20px; width: 820px;">
    <mat-card style="width: 750px;height: 20px;display: flex; justify-content: space-between;align-items: center;padding-right: 20px;margin: 10px;">
        <mat-card-title>Profile</mat-card-title>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Parametres du compte">
            <span class="material-symbols-outlined">manage_accounts</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item style="display: flex;align-items: center;">
                <span class="material-symbols-outlined">edit</span>
                <span>Modifier</span>
            </button>
            <button mat-menu-item style="display: flex;align-items: center;">
                <span class="material-symbols-outlined">notifications</span>
                <span>Notifications</span>
            </button>
            <button mat-menu-item style="display: flex;align-items: center;">
                <span class="material-symbols-outlined">delete</span>
                <span>Supprimer le compte</span>
            </button>
        </mat-menu>
    </mat-card>

    <mat-card class="example-card" style="text-align: center; margin: 10px" >
        <img [src]=candidat.images[0].url style="width: 180px;border-radius: 50%; height: 180px">
        <mat-card-content>
            <br>
            <mat-card-title>{{candidat.nom}} {{candidat.prenom}}</mat-card-title>
            <mat-card-subtitle>{{candidat.fonction}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <mat-card style="width: 520px; margin: 10px">
        <mat-card style="margin: 5px"><table style="width: 400px"><tr><td>Nom</td><td>{{candidat.nom}}</td></tr></table></mat-card>
        <mat-card style="margin: 5px"><table style="width: 400px"><tr><td>Prénom</td><td>{{candidat.prenom}}</td></tr></table></mat-card>
        <mat-card style="margin: 5px"><table style="width: 400px"><tr><td>Date de naissance</td><td>{{candidat.date_naissance}}</td></tr></table></mat-card>
        <mat-card style="margin: 5px"><table style="width: 400px"><tr><td>Mail</td><td>{{candidat.mail}}</td></tr></table></mat-card>
        <mat-card style="margin: 5px"><table style="width: 400px"><tr><td>Adresse</td><td>{{candidat.adresse}}</td></tr></table></mat-card>
    </mat-card>
    <mat-card style="width: 750px; margin: 10px">
        <mat-card-title>Compétences</mat-card-title>
        <mat-card style="margin: 5px"><h3>HTML</h3><mat-progress-bar mode="determinate" value="80"></mat-progress-bar></mat-card>
        <mat-card style="margin: 5px"><h3>HTML</h3><mat-progress-bar mode="determinate" value="80"></mat-progress-bar></mat-card>
        <mat-card style="margin: 5px"><h3>HTML</h3><mat-progress-bar mode="determinate" value="100"></mat-progress-bar></mat-card>
    </mat-card>
    <mat-card style="width: 750px;height: 20px;display: flex; justify-content: space-between;align-items: center;margin: 10px;">
        <mat-card-title>Documents</mat-card-title>
        <div style="display: flex; align-items: center;justify-content: space-between;width: 100px">
            <button mat-icon-button style="display: flex;align-items: center;" matTooltip="Afficher CV">
                <span>CV</span>
                <span class="material-symbols-outlined">file_open</span>
            </button>
            <div style="border-left: 2px solid black;  height: 20px;"></div>
            <button mat-icon-button style="display: flex;align-items: center;" matTooltip="Afficher lettre de motivation">
                <span>LM</span>
                <span class="material-symbols-outlined">file_open</span>
            </button>
        </div>
    </mat-card>
</div>